<form [formGroup]="form" class="control-container">
  <mat-form-field class="valid-from">
    <mat-label>Valid From</mat-label>
    <input
      matInput
      [matDatepickerFilter]="onlyFridays"
      [matDatepicker]="picker"
      formControlName="validFrom"
      placeholder="Choose a date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="pt-errors" *ngIf="assetsArray.invalid">
    <p>Your selected team is not valid:</p>
    <ul>
      <li *ngIf="assetsArray.errors['keeper']">
        You must play exactly one non-subtitute keeper.
      </li>
      <li *ngIf="assetsArray.errors['defence']">
        You must play exactly one non-subtitute defence.
      </li>
      <li *ngIf="assetsArray.errors['formation']">
        You must play a legal formation: Either 4-5-1, 4-4-2, or 4-3-3.
      </li>
      <li *ngIf="assetsArray.errors['attack']"></li>
    </ul>
  </div>

  <table
    mat-table
    [dataSource]="assetsArray.controls"
    #dataTable
    class="pick-assets-table"
    formArrayName="assets"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let ctrl">{{ ctrl.value.asset.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let ctrl">{{ ctrl.value.asset.type }}</td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let ctrl">
        {{ ctrl.value.asset.team }}
      </td>
    </ng-container>

    <ng-container matColumnDef="playing">
      <th mat-header-cell *matHeaderCellDef>Playing</th>
      <td mat-cell *matCellDef="let ctrl; let i = index">
        <ng-container [formGroupName]="i">
          <mat-checkbox formControlName="playing"></mat-checkbox>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="substitute">
      <th mat-header-cell *matHeaderCellDef>Substitute</th>
      <td mat-cell *matCellDef="let ctrl; let i = index">
        <ng-container [formGroupName]="i">
          <mat-checkbox formControlName="substitute"></mat-checkbox>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="precedence">
      <th mat-header-cell *matHeaderCellDef>Precedence</th>
      <td mat-cell *matCellDef="let ctrl; let i = index" class="precedence">
        <ng-container *ngIf="ctrl.value.substitute">
          <button mat-icon-button (click)="increasePrecedence(i)">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-icon-button (click)="decreasePrecedence(i)">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let ctrl; columns: displayedColumns"
      [class]="ctrl.value.asset.type"
    ></tr>
  </table>
</form>
