<table class="totals">
  <thead>
    <th>Team</th>
    <th>Starting Points</th>
    <th>This Week</th>
    <th>New Total</th>
  </thead>
  <tbody>
    <tr *ngFor="let ctrl of teamsCtrl.controls">
      <td>
        {{ ctrl.value.manager.name }}
      </td>
      <td>
        {{ ctrl.value.initialPoints }}
      </td>
      <td>
        {{ ctrl.value.points }}
      </td>
      <td>
        {{ +ctrl.value.initialPoints + ctrl.value.points }}
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form" class="teams">
  <ng-container formArrayName="teams">
    <pt-team-points
      *ngFor="let team of week?.teams; let i = index"
      class="team"
      [formControlName]="i"
    ></pt-team-points>
  </ng-container>
</form>
