<table>
  <thead>
    <th>Team</th>
    <th>Points</th>
  </thead>
  <tbody>
    <tr *ngFor="let ctrl of teams.controls; let i = index">
      <td>
        {{ (week?.teams)[i].manager.name }}
      </td>
      <td>
        {{ ctrl.value.totalPoints }}
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form">
  <ng-container formArrayName="teams">
    <div *ngFor="let team of week?.teams; let i = index" class="team">
      <pt-team-points [formControlName]="i" [team]="team"></pt-team-points>
    </div>
  </ng-container>
</form>
