<h2>{{ team.manager.name }} {{ form.value.totalPoints }}</h2>

<table [formGroup]="form">
  <thead>
    <tr>
      <th class="asset">Asset</th>
      <th class="dnp"><abbr title="Did Not Play">DNP</abbr></th>
      <th class="goals"><abbr title="Goals">G</abbr></th>
      <th class="assists"><abbr title="Assists">A</abbr></th>
      <th class="conceded"><abbr title="Conceded">C</abbr></th>
      <th class="red-card"><abbr title="Red Card">RC</abbr></th>
      <th class="points"><abbr title="Points">P</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr class="area Goalkeeper">
      <th colspan="7">
        Keeper
      </th>
    </tr>

    <ng-container *ngFor="let ctrl of keepers.controls">
      <tr pt-item-points [form]="ctrl" class="Goalkeeper"></tr>
    </ng-container>

    <tr class="area Defence">
      <th colspan="7">
        Defence
      </th>
    </tr>

    <ng-container *ngFor="let ctrl of defence.controls">
      <tr pt-item-points [form]="ctrl" class="Defence"></tr>
    </ng-container>

    <tr class="area Midfielder">
      <th colspan="7">
        Midfield
      </th>
    </tr>

    <ng-container *ngFor="let ctrl of midfield.controls">
      <tr pt-item-points [form]="ctrl" class="Midfielder"></tr>
    </ng-container>

    <tr class="area Forward">
      <th colspan="7">
        Attack
      </th>
    </tr>

    <ng-container *ngFor="let ctrl of forwards.controls">
      <tr pt-item-points [form]="ctrl" class="Forward"></tr>
    </ng-container>
  </tbody>
</table>
