/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.control-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-toolbar {
  flex-shrink: 0;
}

.pt-errors {
  color: red;
}

tr {
  &.Goalkeeper {
    background-color: rgb(255, 254, 212);
  }

  &.Defence {
    background-color: rgb(222, 255, 212);
  }

  &.Midfielder {
    background-color: rgb(212, 255, 228);
  }

  &.Forward {
    background-color: rgb(212, 243, 255);
  }
}
