/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.control-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-toolbar {
  flex-shrink: 0;
}

.pt-errors {
  color: red;
}
