@import '~@angular/material/theming';
@import '../variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.title {
  margin-right: 24px;
}

.toolbar-contents {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
}

.active-link {
  background-color: mat-color($accent) !important;
  border: none;
}
