<mat-toolbar color="primary">
  <div class="toolbar-contents">
    <span class="title">Pointsulator</span>
    <a mat-stroked-button routerLinkActive="active-link" routerLink="assets"
      >Assets</a
    >
    <a mat-stroked-button routerLinkActive="active-link" routerLink="managers"
      >Managers</a
    >
    <a mat-stroked-button routerLinkActive="active-link" routerLink="squads"
      >Squads</a
    >
    <a mat-stroked-button routerLinkActive="active-link" routerLink="weeks"
      >Weeks</a
    >
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
